<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe.4.0" />
            <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        </DbProviderFactories>
    </system.data>
    <connectionStrings>
        <add connectionString="Server=eu-cdbr-azure-north-b.cloudapp.net;Database=lkconsult;Uid=bc3106a32eb6a9;Pwd=ff65da13" name="lkconsult" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
#expiration tules
<configuration>
  <system.webServer>
    <httpProtocol>
      <staticContent>
        <!-- Set expire headers to 30 days for static content -->
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </httpProtocol>
  </system.webServer>
</configuration>


