@charset "ISO-8859-1";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}


#top, #bottom,#left, #right {
	background: #D9D9F3	;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 150px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

body,html {
    height: 100%;
	padding: 0px;
    margin: 0px;
    border: 0px none;
    background-color: #eaeaea;
    
}

body {
   
	background-position: center; 
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #ff0000;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container-fluid {
    background-color:#eaeaea;
}
bodystyle {
   
	background-position: center; 
	background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
	border-left:100px solid white;
	border-right:100px solid white;
	border-top:100px solid white;
	border-left:100px solid white;
	border-right:100px solid white;
	

}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1vw;
    padding-top: 100px;
    padding-bottom: 20px;
	text-decoration: overline;
	text-shadow: 2px 2px 4px white;
	color:black;
	vertical-align:bottom;
	text-align:right;
	text-shadow: 1px 2px #ff0000;
	
	


}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 3vh;
    padding-bottom: 5px;
	text-align: right;
	color:red;
	vertical-align:bottom;
	
	
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size: 1vw;
    padding-bottom: 5px;
	text-align: left;
	color:black;
	vertical-align:bottom;

	
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
	font-style:italic;
    font-size: 1vw;
    padding-bottom: 5px;
	text-align: left;
	color:black;
	vertical-align:bottom;

	
}


p {
    margin-bottom: 20px;
    font-size: 1em;
}

sup {
    position: relative;
    font-size: 1em;
    top: -4pt;
}

ul {
    margin-left: 0px;
}

#block{
     color:lightgray;
	 height: 50px;
}

#img{
    margin-left: 0px;
    width: 100%;
}




#header {
    padding: 40px 0 30px 0;
	
}

#header {
    display: inline;
    padding-left: 115px;
	
	
}

#header nav {
    display: inline;
}

#header nav ul {
    margin: 0;
    display: inline;
}

#header nav li {
    display: inline;
}

#header nav a {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    color: #787878;
    text-decoration: overline;
    padding: 0 14px 0 0;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
    cursor: pointer;

    position: relative;
    bottom: 8px;
}

#header nav a:hover {
    color: #414142;
}

#uaesmc-logo {
    margin-bottom: -17px;
}

#main {

    margin-top:10px;
    width:  auto;
    margin-left: 0px;
    margin-right: 0px;
	border-color: #808080 ;
    color: gray;
    font-size: 1.2em;
    height: auto;
	
}

#main h2 {
    color:  red;
}
#white-box {
    margin-top:20px;
	height:auto;
    margin-left: 0px;
    border-style: solid;
    background-color: #ffffff;
    padding:16px;
    border: 1px solid #333;
    -moz-box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.3);
	

	 				 
}

#content {
    padding: 0 50px 100px 50px;
	
}
#contentInt {
    height: auto;
    padding: 0 50px 100px 50px;

}
#footer {
    font-size: 7.5pt;
    padding: 16px;
    color: #cccccc;
    background-color: #414141;
	margin-left:auto;
	margin-right:auto;
	width:auto;
	margin-bottom:30px;
}

#footer2{
    font-size: 7.5pt;
    padding: 16px;
    color: #cccccc;
    background-color: #414141;
	margin-left:0px;
	margin-right:0px;
	width:auto;
	margin-bottom:50px;
}


.center {
    width: auto;   
	color: black;
	font-family: 'Open Sans', sans-serif;
}



.note {
    padding: 20px;
    background-color: #eaeaea;
    border-radius: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}


input {
    width: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
    margin: 0 0 20px 5px;
    padding: 10px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
}

.URL {
    background-color:white;
    font-family:'Helvetica Neue',sans-serif;
    font-size:1em; 
    width:120px; height:50px;
    text-align:center;
	
}

#english {
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 20px;
	color:#FF9900;
	vertical-align:bottom;
	text-align:right;
	
	
}

/*
@-moz-document url-prefix() {
    .img-responsive{
        width: 100%;
    
    }
}
*/

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #419641;
  background-position: 0 -15px;
}
.btn-success:active,
.btn-success.active {
  background-color: #419641;
  border-color: #3e8f3e;
}
.btn-success.disabled,
.btn-success:disabled,
.btn-success[disabled] {
  background-color: #419641;
  background-image: none;
}


**
    CSS style for the offline function
    
    **/
      
#section
{
    position:relative;
    padding:10px;
    width:250px;
    border:5px solid #ccc;
    background-color:#fff;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
}
      
#section a
{
    font-size:.7em;
}
      
#section a, section a:link, section a:hover, section a:visited,
section a:active
{
    color:#999;
    text-decoration:none;
}
      
#input,textarea
{
    font-family:Segoe UI,Arial,Helvetica,Sans-Serif;
}
      
#input
{
    display:block;
}
      
#onlineStatus
{
    position:absolute;
    padding:6px;
    color:#000000;

}
        
#command input
{
    display:inline;
}
      
.online
{
    background-color:#060;
}
      
.offline
{
    background-color:#900;
}
      
#log li
{
    font-size:.7em;
}
      
#version
{
    font-size:.7em;
    color:#ccc;
}


/*

The style of the offline function

*/

/* line 4, ../sass/_offline-theme-base.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_offline-theme-base.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 2000;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}
/* line 17, ../sass/_offline-theme-base.sass */
.offline-ui .offline-ui-content:before {
  display: inline;
}
/* line 20, ../sass/_offline-theme-base.sass */
.offline-ui .offline-ui-retry {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: none;
}
/* line 24, ../sass/_offline-theme-base.sass */
.offline-ui .offline-ui-retry:before {
  display: inline;
}
/* line 29, ../sass/_offline-theme-base.sass */
.offline-ui.offline-ui-up.offline-ui-up-5s {
  display: block;
}
/* line 32, ../sass/_offline-theme-base.sass */
.offline-ui.offline-ui-down {
  display: block;
}
/* line 37, ../sass/_offline-theme-base.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-retry {
  display: block;
}
/* line 42, ../sass/_offline-theme-base.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}

@-webkit-keyframes offline-fadein {
  /* line 6, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 8, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes offline-fadein {
  /* line 6, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 8, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes offline-fadein {
  /* line 6, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 8, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-o-keyframes offline-fadein {
  /* line 6, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 8, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@keyframes offline-fadein {
  /* line 6, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 8, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes offline-fadeout-and-hide {
  /* line 20, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    display: block;
  }

  /* line 23, ../sass/_keyframes.sass */
  99% {
    opacity: 0;
    display: block;
  }

  /* line 26, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    display: none;
  }
}

@-moz-keyframes offline-fadeout-and-hide {
  /* line 20, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    display: block;
  }

  /* line 23, ../sass/_keyframes.sass */
  99% {
    opacity: 0;
    display: block;
  }

  /* line 26, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    display: none;
  }
}

@-ms-keyframes offline-fadeout-and-hide {
  /* line 20, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    display: block;
  }

  /* line 23, ../sass/_keyframes.sass */
  99% {
    opacity: 0;
    display: block;
  }

  /* line 26, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    display: none;
  }
}

@-o-keyframes offline-fadeout-and-hide {
  /* line 20, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    display: block;
  }

  /* line 23, ../sass/_keyframes.sass */
  99% {
    opacity: 0;
    display: block;
  }

  /* line 26, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes offline-fadeout-and-hide {
  /* line 20, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    display: block;
  }

  /* line 23, ../sass/_keyframes.sass */
  99% {
    opacity: 0;
    display: block;
  }

  /* line 26, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes offline-rotation {
  /* line 64, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 66, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-moz-keyframes offline-rotation {
  /* line 64, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 66, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes offline-rotation {
  /* line 64, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 66, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-o-keyframes offline-rotation {
  /* line 64, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 66, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@keyframes offline-rotation {
  /* line 64, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 66, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

/* line 21, ../sass/offline-theme-default.sass */
.offline-ui {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-family: "Helvetica Neue", sans-serif;
  padding: 1em;
  top: 1em;
  width: 38em;
  max-width: 100%;
  overflow: hidden;
}
@media (max-width: 38em) {
  /* line 21, ../sass/offline-theme-default.sass */
  .offline-ui {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    top: 0;
  }
}
/* line 34, ../sass/offline-theme-default.sass */
.offline-ui .offline-ui-content:before {
  line-height: 1.25em;
}
/* line 37, ../sass/offline-theme-default.sass */
.offline-ui .offline-ui-retry {
  position: absolute;
  right: 3em;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  line-height: 3.5em;
  height: 3.5em;
  margin: auto;
  padding: 0 1em;
}
/* line 50, ../sass/offline-theme-default.sass */
.offline-ui.offline-ui-up {
  -webkit-animation: offline-fadeout-and-hide forwards 0.5s 2s;
  -moz-animation: offline-fadeout-and-hide forwards 0.5s 2s;
  -ms-animation: offline-fadeout-and-hide forwards 0.5s 2s;
  -o-animation: offline-fadeout-and-hide forwards 0.5s 2s;
  animation: offline-fadeout-and-hide forwards 0.5s 2s;
  -webkit-backface-visibility: hidden;
  background: #d6e9c6;
  color: #468847;
}
/* line 55, ../sass/offline-theme-default.sass */
.offline-ui.offline-ui-down {
  -webkit-animation: offline-fadein 0.5s;
  -moz-animation: offline-fadein 0.5s;
  -ms-animation: offline-fadein 0.5s;
  -o-animation: offline-fadein 0.5s;
  animation: offline-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  background: #ec8787;
  color: #551313;
}
/* line 60, ../sass/offline-theme-default.sass */
.offline-ui.offline-ui-down.offline-ui-connecting, .offline-ui.offline-ui-down.offline-ui-waiting {
  background: #f8ecad;
  color: #7c6d1f;
  padding-right: 3em;
}
/* line 65, ../sass/offline-theme-default.sass */
.offline-ui.offline-ui-down.offline-ui-connecting:after, .offline-ui.offline-ui-down.offline-ui-waiting:after {
  -webkit-animation: offline-rotation 0.7s linear infinite;
  -moz-animation: offline-rotation 0.7s linear infinite;
  -ms-animation: offline-rotation 0.7s linear infinite;
  -o-animation: offline-rotation 0.7s linear infinite;
  animation: offline-rotation 0.7s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  width: 1em;
  border: 2px solid rgba(0, 0, 0, 0);
  border-top-color: #7c6d1f;
  border-left-color: #7c6d1f;
  opacity: 0.7;
}
/* line 82, ../sass/offline-theme-default.sass */
.offline-ui.offline-ui-down.offline-ui-waiting {
  padding-right: 11em;
}
/* line 85, ../sass/offline-theme-default.sass */
.offline-ui.offline-ui-down.offline-ui-waiting.offline-ui-reconnect-failed-2s {
  padding-right: 0;
}