<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <staticContent>
        <!-- Set expire headers to 30 days for static content -->
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      </staticContent>
    </httpProtocol>
  </system.webServer>
</configuration>

#remove or disable unused modules

<configuration>
  <system.webServer>
    <modules>
      <!-- remove Helicontech APE -->
      <remove name="Helicon.Ape" />
      <!-- Add Uri- File- and Token cache modules -->
      <!-- for IIS Output Cache -->
      <add name="UriCacheModule" />
      <add name="FileCacheModule" />
      <add name="TokenCacheModule" />
    </modules>
  </system.webServer>
</configuration>